{% load static %}
<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon-esencia-dorado.ico' %}" />
    <title>Esencia Tabasco | Aviso de privacidad</title>
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
    <style>
        li {
            margin: 20px;
            text-align: justify;
        }

        .title {
            font-weight: 700;
            color: #892541;
            text-align: center;
            padding: 20px;
            margin-bottom: 50px;
        }

        ::marker {
            font-weight: bold;
            padding-right: 10px;
            color: black;
        }

        .requeriments li {
            margin-left: 15px;
            color: #757575;
            font-size: 1.3rem;
            text-align: justify;
        }

        .requeriments h6 {
            color: #757575;
            font-size: 1.4rem;
            text-align: justify;
            line-height: 30px;
        }
    </style>
</head>

<body>
    <div class="container" style="margin-top: 5%; margin-bottom: 5%; width: 70%;">
        <img src="{% static 'images/logo.png' %}" alt="" width="250px">
        <img src="{% static 'images/esenciatabasco_home.png' %}" alt="">
        <h3 class="title">Aviso de <span class="txt-gold">privacidad</span></h3>
        <div class="requeriments">
            <p class="grey-text">Fecha de última modificación: 20 de mayo de 2021</p>
            <h6>La Secretaría de Desarrollo Económico y la Competitividad del Estado de Tabasco (SEDEC), con domicilio
                en la
                Prolongación de Paseo Tabasco número 1504, Segundo Piso, Colonia Tabasco 2000, Código Postal 86035, de
                esta
                Ciudad Villahermosa, es la autoridad responsable del tratamiento de los datos personales que nos
                proporcione,
                los cuales serán protegidos conforme a lo dispuesto en la Ley de Protección de Datos Personales en
                Posesión
                de
                Sujetos Obligados del Estado de Tabasco, publicada en el Periódico Oficial del Estado de Tabasco, el
                nueve
                de
                septiembre de 2017, y demás normatividad que resulte aplicable.</h6>
            <br>
            <h5><b>Requisitos para el programa</b></h5>
            <h6>Dato personal, es cualquier información concerniente a una persona física identificada o identificable.
                Se
                considera que una persona es identificable cuando su identidad pueda determinarse directa o
                indirectamente a
                través de cualquier información.</h6>
            <br>
            <h5><b>Datos personales que se recabarán</b></h5>
            <h6>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad y dependiendo
                específicamente del trámite a realizar, se recaba los siguientes datos personales:</h6>
            <ul class="browser-default">
                <li>Nombre</li>
                <li>Domicilio</li>
                <li>Fotografía</li>
                <li>Lugar y fecha de nacimiento</li>
                <li>Edad</li>
                <li>Nacionalidad</li>
                <li>Números Telefónicos Particulares (móvil y fijo)</li>
                <li>Registro federal de contribuyentes (RFC)</li>
                <li>Firma autógrafa</li>
                <li>Clave única de registro poblacional (CURP)</li>
                <li>Matrícula del servicio militar nacional</li>
                <li>Pasaporte</li>
                <li>Credencial para votar (INE)</li>
                <li>Comprobante de domicilio</li>
                <li>Fotos de productos o servicios</li>
            </ul>
            <br>
            <h5><b>Fundamento legal para llevar a cabo el tratamiento</b></h5>
            <h6>Los datos personales se recaban, con fundamento en el artículo 6 apartado A base I y 16 segundo párrafo
                de
                la Constitución Política de los Estados Unidos Mexicanos, artículos 4, 6, 16, 18, 54, 55, 58, 59, 90, 91
                de
                la Ley de Protección de Datos Personales en Posesión de Sujetos Obligados del Estado de Tabasco, 8, 9
                fracción III, 14 fracción I, 16, 17, 18, 24, 25 y 34 de los lineamientos de la Ley de Protección de
                Datos
                Personales en Posesión de Sujetos Obligados del Estado de Tabasco, artículo 15 fracción VIII del
                Reglamento
                Interior de la Secretaría para el Desarrollo Económico y la Competitividad, que establece el ejercicio
                de
                las facultades y obligaciones que mandata la Ley General de Transparencia y Acceso a la Información
                Pública
                y la Ley de Transparencia y Acceso a la Información Pública del Estado de Tabasco, aunado que la
                interpretación de esta Ley y de la normatividad derivada se hará conforme a los criterios gramatical,
                sistemático y funcional, atendiendo a lo dispuesto en el último párrafo del artículo 14 de la
                Constitución
                Federal.</h6>
            <br>
            <h5><b>Transferencia de datos personales</b></h5>
            <h6>Se informa que no se realizarán transferencias de datos personales o identificativos que requieran su
                consentimiento, salvo aquellos que sean necesarios para atender requerimientos de información de
                autoridades
                administrativas o jurisdiccionales competentes, debidamente fundados y motivados.</h6>
            <br>
            <h5><b>Finalidad de recabar sus datos personales</b></h5>
            <h6>Con la finalidad que en la SEDEDC se pueda conocer la efectiva existencia del tratamiento a que son
                sometidos sus datos personales, tener acceso a sus datos personales que están en posesión del
                responsable,
                así como el derecho a conocer las circunstancias esenciales del tratamiento, lo cual se traduce en el
                deber
                que tiene el responsable de informar al titular sobre el tipo de datos personales tratados; todas y cada
                una
                de las finalidades que justifican el tratamiento; las personas que intervienen en el tratamiento
                (encargados); en caso de transferencias, los destinatarios, las finalidades de las mismas, la
                información
                personal transferida, entre otra información que el titular esté interesado en conocer. De igual forma,
                para
                los efectos de dar atención a su solicitud de ejercicio de derechos ARCO que se presente ante la
                Secretaría
                para el Desarrollo Económico y la Competitividad, como responsable del tratamiento de los datos
                personales,
                así como con fines estadísticos. Para esto último, requerimos de su consentimiento, por lo que le
                solicitamos que indique a continuación si autoriza que sus datos personales sean utilizados con fines
                estadísticos, a fin de contar con información valiosa para mejorar nuestros servicios e implementar las
                medidas que resulten pertinentes para impulsar el ejercicio del derecho de protección de datos
                personales.
                Es importante señalar que las estadísticas que se generen no vincularán la información general con datos
                que
                hagan identificables a los titulares. También, específicamente usaremos la información con los
                siguientes
                fines:</h6>
            <ol>
                <li>Reunimos información de carácter no personal, como el tipo de explorador, sistema operativo y
                    páginas
                    web visitadas, con el objeto de contribuir a la administración de nuestros sitios Web.</li>
                <li>Utilizamos “cookies” y otras tecnologías de Internet para administrar nuestro sitio web y los
                    Programas
                    generados por la SEDEC.</li>
                <li>Los datos que le solicitamos en los formularios de contacto o cualquier tipo de formulario colocado
                    en
                    nuestro sitio web únicamente serán utilizados para poder establecer contacto con usted en relación a
                    su
                    petición o comentario, así como para que pueda participar en los Programas que en el sitio se
                    encuentren
                    disponibles.</li>
                <li>Los datos que ingrese en cualquiera de los formularios dentro del sitio web NO serán difundidos,
                    distribuidos o comercializados.</li>
                <li>Los datos que ingrese en cualquiera de los formularios dentro del sitio web NO serán difundidos,
                    distribuidos o comercializados.</li>
            </ol>
            <br>
            <h5><b>¿Dónde se pueden ejercer los derechos de Acceso, Rectificación, Cancelación u Oposición de datos
                    personales (derechos Procedimiento Derecho ARCO)</b></h5>
            <h6>Los Titulares o las personas físicas a quien correspondan los datos personales, podrán ejercer sus
                derechos
                ARCO bajo el siguiente procedimiento: Presentar solicitud de derechos ARCO y revocación del
                consentimiento
                para el tratamiento de los datos personales, así como también deberá ser dirigirla a la Secretaría para
                el
                Desarrollo Económico y la Competitividad, ubicada en la Prolongación de Paseo Tabasco número 1504,
                Segundo
                Piso, Colonia Tabasco 2000, Código Postal 86035 en Villahermosa Tabasco, Tabasco, con un horario de 8:00
                a
                16:00 horas, en días hábiles. Enviar la solicitud ARCO debidamente firmada al correo electrónico <a
                    href="mailto:sedec@tabasco.gob.mx">sedec@tabasco.gob.mx</a>.</h6>
            <br>
            <h5><b>Documentos deberá anexar a la solicitud</b></h5>
            <h6>Con la finalidad de acreditar su identidad, el titular o la persona física deberá anexar a su solicitud
                original y copia de alguno de los siguientes documentos:</h6>
            <ul class="browser-default">
                <li>Identificación oficial</li>
                <li>Instrumentos electrónicos o mecanismos de autenticación permitidos por otras disposiciones legales o
                    reglamentarias que permitan su identificación fehacientemente, o</li>
                <li>Aquellos mecanismos establecidos por el responsable de manera previa, siempre y cuando permitan de
                    forma
                    inequívoca la acreditación de la identidad del titular.</li>
                <small>(Artículo 56 fracción I de la Ley de Protección de Datos Personales en Posesión de Sujetos
                    Obligados
                    del Estado de Tabasco)</small>
            </ul>
            <h6>Si necesita mayor información por favor escriba a <a
                    href="mailto:contactosedec@tabasco.gob.mx">contactosedec@tabasco.gob.mx</a> o por escrito a: Prol.
                Paseo
                Tabasco, No.1504 Col. Tabasco 2000, Villahermosa, Tabasco, C.P. 86035.</h6>
        </div>
    </div>
</body>

</html>